body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  background: url("horizontalBackground.jpg") no-repeat center / cover;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;  
}


.main{
  width: 620px;
  height: 500px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  overflow: hidden;
  backdrop-filter: blur(20px);
  border-radius: 30px;
  box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.5);
  color: white;
}

#chk{
  display: none;
}

.climate{
  position: relative;
  width: 100%;
  height: 100%;
}

#temperatureChart {
  margin-bottom: 50px;
}

label{
  color: white;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

button {
  width: 135px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
}

.searchButton {
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.searchButton::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.searchButton::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.searchButton:hover::before {
  opacity: 1;
}

.searchButton:active:after {
  background: transparent;
}

.searchButton:active {
  color: #000;
  font-weight: bold;
}

.btn-circle {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 1.42857;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.input-group .btn-circle {
  margin-right: 10px;
  border-radius: 50% !important; 
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center; 
  line-height: 1;
  vertical-align: middle; 
}


input{
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.search{
  height: 460px;
  background: #100720;
  border-radius: 60% / 10%;
  transform: translateY(-210px);
  transition: .8s ease-in-out;
  scrollbar-width: none;
}

.search-label {
  padding-top: 20px;
  font-weight: 400;
}
.search label{
  color: #573b8a;
  transform: scale(.8);
}

#chk:checked ~ .search{
  transform: translateY(-490px);
  overflow-y: auto;
  scrollbar-width: auto;
}

#chk:checked ~ .search label{
  transform: scale(1.3);
}

#chk:checked ~ .climate label{
  transform: scale(.6);
}